- @solar     = Eot.new
- @solar.ajd = DateTime.now.to_time.utc.to_datetime.ajd.to_f
- @solar.ma_ta_set
- @r2d   = Eot::R2D
- @al    = @solar.al_sun() * @r2d
- @ma    = @solar.ma_sun() * @r2d
- @ra    = @solar.ra_sun() * @r2d
- @ta    = @solar.ta_sun() * @r2d
- @sal   = format("%3.9f", @al)
- @sma   = format("%3.9f", @ma)
- @sra   = format("%3.9f", @ra)  
- @sta   = format("%3.9f", @ta)
- @sd1   = format("%3.9f", @ma - @ta)
- @sd2   = format("%3.9f", @al - @ra)
- @sdt   = format("%3.9f", @sd1.to_f + @sd2.to_f)
- @s_min = 4.0 * 360 / 360.98564736629 # 3.989078265
- @smt   = format("%3.9f", @sdt.to_f * @s_min)
- @mt    = @solar.show_minutes(@smt.to_f)
%title equationoftime.herokuapp.com/eot.haml
:markdown
  ## &Delta; = ( &Mu; - &nu; ) + ( &lambda; - &alpha; )      
  ## Delta = ( Mu - nu ) + ( lambda - alpha )      
    
  These terms are calculated using current date and time UTC.
  
%pre
  %div{style: "align: center"}
    %table{style: "border: 1, cellpadding: 10"}      
      %tr
      %tr
        %td{style: "text-align: center"}  &Mu;             
        %th{style: "text-align: center"}  &nu;      
        %th{style: "text-align: center"}  &Mu; - &nu;
      %tr
      %tr
        %td{style: "text-align: center"} #{@sma}
        %td{style: "text-align: center"} #{@sta}
        %td{style: "text-align: center"} #{@sd1}

    %table{style: "border: 1, cellpadding: 10"}
      %tr
      %tr
        %th{style: "text-align: center"}  lambda      
        %th{style: "text-align: center"}  alpha              
        %th{style: "text-align: center"}  lambda - alpha
      %tr 
      %tr
        %td{style: "text-align: center"} #{@sal}                  
        %td{style: "text-align: center"} #{@sra}                  
        %td{style: "text-align: center"} #{@sd2}

    %table{style: "border: 1, cellpadding: 10"}
      %tr
      %tr
        %th{style: "text-align: center"} Delta degrees total        
        %th{style: "text-align: center"} minutes               
        %th{style: "text-align: center"} time
      %tr  
      %tr
        %td{style: "text-align: center"} #{@sdt}                   
        %td{style: "text-align: center"} #{@smt}                  
        %td{style: "text-align: center"} #{@mt}
           
  Check that at http://www.celnav.de/longterm.htm under Equation of Time    
       
%div{style: "background-color: orange, color: #000, text-align: center"}      
        
  Date and time #{@solar.ajd_to_datetime(@solar.ajd).to_time.httpdate} to enter there.

%hr     
%h3
  %a{href: "/mysuntimes"} Sunrise and Sunset    
