- @r2d   = Eot::R2D
- @solar     = Eot.new
- @solar.jd = DateTime.now.to_time.utc.to_datetime.ajd.to_f
- @solar.ma_ta_set
- @solar.date = DateTime.now.to_time.utc.to_date
- @solar.new_date(@solar.date.to_s)
- @al    = @solar.al_sun() * @r2d
- @ma    = @solar.ma_sun() * @r2d
- @ra    = @solar.ra_sun() * @r2d
- @ta    = @solar.ta_sun() * @r2d
- @sal   = format("%3.9f", @al)
- @sma   = format("%3.9f", @ma)
- @sra   = format("%3.9f", @ra)  
- @sta   = format("%3.9f", @ta)
- @sd1   = format("%3.9f", @solar.delta_orbit * @r2d)
- @sd2   = format("%3.9f", @al - @ra)
- @sdt   = format("%3.9f", @sd1.to_f + @sd2.to_f)
- @s_min = 4.0 * 360 / 360.98564736629 # 3.989078265
- @smt   = format("%3.9f", @sdt.to_f * @s_min)
- @st    = @sdt.to_f / 360 * 1440
- @so    = 1
- @mt    = @solar.show_minutes(@st)
%title equationoftime.herokuapp.com/eot.haml
%hr
%h3
  &Delta; = ( &Mu; - &nu; ) + ( &lambda; - &alpha; )
%br      
  Delta = ( Mu - nu ) + ( lambda - alpha )
%hr  
:markdown    
  These terms are calculated using current date at noon UTC (the JD for today).

  ```ruby

   JD = #{@solar.jd}
   Mu = #{@solar.ma_sun() * @r2d} deg.
   nu = #{@solar.ta_sun() * @r2d} deg.
   d1 = #{@solar.delta_orbit * @r2d} deg.
   l  = #{@solar.al_sun() * @r2d} deg.
   a  = #{@solar.ra_sun() * @r2d} deg.   
   d2 = #{@solar.delta_oblique * @r2d} deg.
   dt = #{@solar.eot * @r2d} deg.
  ```    
  
%pre
  %div{style: "align: center"}
    %table{style: "border: 1, cellpadding: 10"}      
      %tr
      %tr
        %td{style: "text-align: center"}  &Mu;             
        %th{style: "text-align: center"}  &nu;      
        %th{style: "text-align: center"}  &Mu; - &nu;
      %tr
      %tr
        %td{style: "text-align: center"} #{@sma}
        %td{style: "text-align: center"} #{@sta}
        %td{style: "text-align: center"} #{@sd1}

    %table{style: "border: 1, cellpadding: 10"}
      %tr
      %tr
        %th{style: "text-align: center"}  lambda      
        %th{style: "text-align: center"}  alpha              
        %th{style: "text-align: center"}  lambda - alpha
      %tr 
      %tr
        %td{style: "text-align: center"} #{@sal}                  
        %td{style: "text-align: center"} #{@sra}                  
        %td{style: "text-align: center"} #{@sd2}

    %table{style: "border: 1, cellpadding: 10"}
      %tr
      %tr
        %th{style: "text-align: center"} Delta degrees total        
        %th{style: "text-align: center"} minutes               
        %th{style: "text-align: center"} time
      %tr  
      %tr
        %td{style: "text-align: center"} #{@sdt}                   
        %td{style: "text-align: center"} #{@st}                  
        %td{style: "text-align: center"} #{@mt}
           
  Check that at http://www.celnav.de/longterm.htm under Equation of Time    
       
%div{style: "background-color: orange, color: #000, text-align: center"}      
        
  Date and time #{@solar.jd_to_datetime(@solar.jd).to_time.httpdate} to enter there.

%hr     
%h3
  %a{href: "/mysuntimes"} Sunrise and Sunset
